<p id="notice"><%= notice %></p>

<% @title = "LMSA Announce" %>
<%= stylesheet_link_tag "home.css" %>



<div class="container py-5 mx-auto">
  <h1 class="display-10 fw-bold text-light">Announcements</h1>
  <br>
  <div class="row align-items-md-stretch">
    <div class="col-md-7">
      <div class="h-100 p-5 bg-light rounded-3">

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <% @announcements.each do |announcement| %>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h4><%= announcement.name %></h4>
                    <div class="ps-2">
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_announcement_path(announcement), class:"btn btn-secondary text-light" %>
                        <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary text-light" %>
                      <% end %>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><%= announcement.desc %></div>
                </div>
              </div>
            <% end %>
          </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3 text-center">
        <%= link_to "Quick Create", new_announcement_path, {class: "btn btn-secondary text-light btn-lg", type: "button"} %>
      </div>
    </div>

  </div>
</div>

