<p id="notice"><%= notice %></p>

<% @title = "TAMU LMSA Plus: My Event History" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<br>
    <!--<h1  class="display-10 fw-bold text-light">My Event History</h1>-->
    <ul class="nav nav-tabs display-10 fw-bold text-light">
      <li class="nav-item">
        <h1><%= link_to "Events", events_path, {class: "nav-link display-10 fw-bold text-light"} %></h1>
      </li>
      <li>
        <h1 class="nav-link active display-10 fw-bold text-secondary">Event History</h1>
      </li>
    </ul>

    <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
      <div class="container-fluid py-5">
        <table  class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Event</th>
              <th scope="col">Points recieved</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
          <p> Your Points: <%= current_user.sum_points %> </p>
            <% Event.joins(:event_hists).where(event_hists: {user_id: current_user.id}).order("event_date DESC").each do |hist| %>
              <tr>
                <td scope="row"><%= link_to hist.event_name, EventHist.find_by(id: hist.event_hists), class:"nav-link"  %></td>
                <td scope="row"><%= hist.point_val %></td>
                <td scope="row"><%= hist.event_date.strftime("%m/%d/%Y") + " "+hist.event_date.strftime("%l:%M %p")  %></td>
              </tr>
            <% end %>

          </tbody>
        </table >
    </div> 
  </div> 
</div> 

<br>