<p id="notice"><%= notice %></p>


<%= stylesheet_link_tag "home.css" %>
<% @eventer = Event.find_by(id: @event_hist.event_id) %>

<div class="container py-4">
    <h1 class="display-10 fw-bold text-light"><%= @eventer.event_name %></h1>
    <div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">
        <p>
          <strong>Event:</strong>
          <% @eventer = Event.find_by(id: @event_hist.event_id) %>
          <%= link_to @eventer.event_name, @eventer %>
        </p>

        <p>
          <strong>Date:</strong>
          <% @eventer = Event.find_by(id: @event_hist.event_id) %>
          <%= link_to @eventer.event_date, @eventer %>
        </p>


        <p>
          <strong>Point recv:</strong>
          <%= @event_hist.point_recv %>
        </p>

        <%= link_to 'Back', event_hists_path %>
    </div>
</div>