<% @title = "LMSA Points" %>
<%= stylesheet_link_tag "home.css" %>

<div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">
  <%= form_with(model: poin_event) do |form| %>
    <% if poin_event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(poin_event.errors.count, "error") %> prohibited this poin_event from being saved:</h2>

        <ul>
          <% poin_event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
    
      <%@prefilled=""%>
      <%curr = PoinEvent.find_by(id: @poin_event.id)%>
      <% if curr.present? &&(dave=User.find_by(id: curr.user_id)).present?%>
        <% @prefilled=dave.email%>
      <%end%>

      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email,{:value => @prefilled, class: "form-control", placeholder: "email"} %>
    </div>

    <div class="mb-3">
      <%= form.label :balance, class: "form-label" %>
      <%= form.number_field :balance, {class: "form-control", placeholder: "Balance"} %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, {class: "form-control", placeholder: "Description"} %>
    </div>

    <%= form.hidden_field :admin_award_id, value: current_user.id %>

    <div class="d-flex">
      <%= link_to 'Back', poin_events_path, class:"btn btn-secondary text-light" %>
      <%= form.submit "Submit", class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
