<p id="notice"><%= notice %></p>

<% @title = "LMSA Points" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
  <h1 class="display-10 fw-bold text-light">Points</h1>
  <div class="p-5 mb-4 bg-light rounded-3">

    <% if current_user.admin? %>
      <div class="text-center">
        <%= link_to 'Award Points', new_poin_event_path, {class: "btn btn-secondary text-light btn-lg", type: "button"} %>
      </div>
    <% end %>

    <div class="container-fluid py-5" style="text-align: center;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Points given</th>
            <% if current_user.admin %>
              <th scope="col">Member</th>
            <% end %>
            <th scope="col">Date</th>
            <th scope="col">Admin</th>
              <% if current_user.admin? %>
            <th scope="col">Options</th>
            <%end%>
          </tr>
        </thead>

        <% if current_user.admin == false %>
          <tbody>
            <% PoinEvent.where(user_id: current_user.id).find_each do |poin_event| %>
              <tr>
                <th scope="row"><%= poin_event.balance %></td>
                <td><%= poin_event.created_at.strftime("%m/%d/%Y %l:%M %p") %></td>
                <td><%= User.find_by("id=?",poin_event.admin_award_id).email %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <tbody>
            <% @poin_events.each do |poin_event| %>
              <tr>
                <th scope="row"><%= poin_event.balance %></td>
                <td><%= User.find_by("id=?", poin_event.user_id).email %></td>
                <td><%= poin_event.created_at.strftime("%m/%d/%Y %l:%M %p") %></td>
                <td><%= User.find_by("id=?",poin_event.admin_award_id).email %></td>
                <td><%= link_to 'Show', poin_event %> <%= link_to 'Edit', edit_poin_event_path(poin_event) %> <%= link_to 'Destroy', poin_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>

  </div> 
</div> 