<p id="notice"><%= notice %></p>

<% @title = "LMSA Points" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<h1 class="display-10 fw-bold text-light">Award Points</h1>
<br>
  <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
    <div class="container-fluid py-5">
      <p>Welcome to the Award Points index. This page allows admins to reward points to users for special cases. To award a user points, click on "New Point Event". To see the event's details, click show, and to edit it click edit. To move around the website, click "Navigation"</p>
      <%if current_user.admin?%>
        <%= link_to 'Award Points', new_poin_event_path,{class: "btn btn-secondary text-light", type: "button"} %>
      <%end%>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Balance</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Admin award</th>
          <th scope="col">Hours attend</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <p> Points: <%= current_user.sum_points %> </p>
        <% PoinEvent.where(user_id: current_user.id).find_each do |poin_event| %>
          <tr>
            <td scope="row"><%= poin_event.balance %></td>
            <td scope="row"><%= poin_event.date %></td>
            <td scope="row"><%= poin_event.description %></td>
            <td scope="row"><%= poin_event.admin_award_id %></td>
            <td scope="row"><%= poin_event.hours_attend %></td>
            <td scope="row"><%= link_to 'Show', poin_event %></td>
            <td scope="row"><%= link_to 'Edit', edit_poin_event_path(poin_event) %></td>
            <td scope="row"><%= link_to 'Destroy', poin_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div> 
  </div> 
</div> 