<% @title = "LMSA Points" %>
<%= stylesheet_link_tag "home.css" %>

<p id="notice"><%= notice %></p>

<div class="container py-4">

  <h1 class="display-10 fw-bold text-light">Awarded Points Info</h1>

  <div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">

    <div class="p-2 bd-highlight">
      <strong>Admin:</strong>
      <%= award_admin = User.find_by("id=?",@poin_event.admin_award_id)
         if award_admin.present?
          award_admin.email
         end %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Points given:</strong>
      <%= @poin_event.balance %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Date:</strong>
      <%= @poin_event.created_at.strftime("%m/%d/%Y") + " "+@poin_event.created_at.strftime("%l:%M %p") %>
    </div>

    <div class="p-2 bd-highlight">
      <strong>Description:</strong>
      <%= @poin_event.description %>
    </div>

    <div>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_poin_event_path(@poin_event), class:"btn btn-secondary text-light" %>
      <% end %>
      <%= link_to 'Back', poin_events_path, class:"btn btn-secondary text-light" %>
    </div>
  </div>
</div>
