<p id="notice"><%= notice %></p>
<% @title = "LMSA Leaderboard" %>
<%= stylesheet_link_tag "home.css" %>



<div class="container py-4">

  <h1 class="display-5 fw-bold text-light"><%= @user.first_name %>'s Page</h1>

  <div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">

  <div class="container">
    <div class="d-flex flex-row">
        <div class="p-2">
            <%= image_tag(current_user.avatar_url, :size => "200x200" ) %>
        </div>
        <div class="p-2">
            <p>
              <strong>First name:</strong>
              <%= @user.first_name %>
            </p>

            <p>
              <strong>Last Name:</strong>
              <%= @user.last_name %>
            </p>

            <p>
              <strong>Points:</strong>
              <%= @user.sum_points %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>

            <p>
              <strong>Bio:</strong>
              <%= @user.bioConfirmation %>
            </p>

            <p>
              <strong>Birthdate:</strong>
              <%= @user.bod %>
            </p>

            <p>
              <strong>Major:</strong>
              <%= @user.majorConfirmation %>
            </p>

        </div>
    </div>
  </div>


    
    <%= link_to 'Back', myhistory_points_leaderboard_path, class:"btn btn-secondary text-light" %>

  </div>

</div>