<% @title = "LMSA Officers" %>
<%= stylesheet_link_tag "home.css" %>

<%= render :partial=>"newadminmodal" %>
<%= render :partial=>"resultmodal" %>
<%= render :partial=>"removeModal" %>
<%= render :partial=>"activemodal" %>


<% if !current_user.admin? %>
  <meta http-equiv="refresh" content="0; URL=<%= root_path %>" />
<%else%>
<div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
      <div class="container-fluid py-5">
        <h1 class="display-10 fw-bold">Welcome back Officer <%= current_user.first_name %>!</h1>
        <p> <strong>Points: </strong> <%= current_user.sum_points %> </p>
        <p>
            <strong>User Name: </strong>
            <%= current_user.first_name %>
            <%= current_user.last_name %>
        </p>

        <p>
            <strong>User ID: </strong>
            <%= current_user.id %>
        </p>

        <p>
            <strong>User Email: </strong>
            <%= current_user.email %>
        </p>

        <p>
            <strong>User Birthdate: </strong>
            <%= current_user.bod %>
        </p>

        <p>
            <strong>User Bio: </strong>
            <%= current_user.bioConfirmation %>
        </p>

         <% if current_user.major.present? %>
            <p>
                <strong>User Major: </strong>
                <%= current_user.major %>
            </p>
        <% end %>

        <%= link_to "Update my Info",  edit_user_session_path, {class: "btn btn-outline-secondary text-dark", type: "button"} %>
        <br>
        <%if current_user.allowed%>
          <%=button_to "Member View",{controller: "users", action: "nodev", id: current_user.id }, {class: "btn btn-outline-secondary text-dark", type: "button"} %>
        <%end%>

      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3 lead">
      <h1 class="display-20 fw-bold">Officer Options</h1>
      <br>

      <div class ="grid">

        <a type="button" class="btn btn-lg btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#removeModal">
          Remove Member
        </a>

        <a type="button" class="btn btn-lg btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Make A New Officer
        </a>

        <a type="button" class="btn btn-lg btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#resultmodal">
          Semester Point Reset
        </a>

        <a type="button" class="btn btn-lg btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#activemodal">
          View all Active Members
        </a>

      </div>
      
    </div>
  </div>

<% end %>