<% @title = "LMSA Home" %>
<%= stylesheet_link_tag "home.css" %>
<%= render :partial =>"points_modal" %>


<div class="container py-4">
    <br>
    <h1  class="display-10 fw-bold text-light">Points System 2021-2022</h1>
    <div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">
        <ul>
        <%Point.all.each do |po|%>
            <li><%=po.name%>: <%=po.val%> points per <%=po.point_type%>: <%=po.desc%> <%= link_to 'Edit', edit_point_path(po) %> <%= link_to 'Destroy', po, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <%end%>
        </ul>
    </div>

    <a type="button" class="btn btn-lg btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add a new point
    </a>
</div>