<% @title = "LMSA Events" %>
<%= stylesheet_link_tag "home.css" %>

<div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">
<%= form_with(model: event, local:false) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">

    <%= form.label :event_name, class: "form-label" %>
    <%= form.text_field :event_name, {class: "form-control", placeholder: "Event Name"} %>

  </div>

  <div class="mb-3">

    <%= form.label :e_type, 'Type', class: "form-label" %>
    <%= form.select :e_type, Event.e_types.values, {class: "form-control", placeholder: "Event Type"} %>
    
  </div>

  <div class="mb-3">

    <%= form.label :event_date, class: "form-label" %>
    <%= form.datetime_select :event_date, {class: "form-control",  ampm: true, order: [:day, :month, :year], start_year:Date.today.year} %>

  </div>

  <div class="mb-3">

    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, {class: "form-control", placeholder: "Description"} %>

  </div>

  <div class="mb-3">

    <%= form.label :password, class: "form-label" %>
    <%= form.text_field :password, {class: "form-control", placeholder: "Password"} %>

  </div>

   <div class="mb-3 form-check">

    <%= form.label :virtual, class: "form-check-label" %>
    <%= form.check_box :virtual, {class: "form-check-input", id: "virtual"} %>

  </div>

  <div class="mb-3" id="link">

    <%= form.label :meeting_link, class: "form-label" %>
    <%= form.text_field :meeting_link, {class: "form-control", placeholder: "Meeting Link"} %>

  </div>

  <div class="mb-3">

    <%= form.label :signin_time, class: "form-label" %>
    <%= form.datetime_select :signin_time, {class: "form-control",  ampm: true, order: [:day, :month, :year], start_year:Date.today.year} %>

  </div>

  <div class="mb-3">

    <%= form.label "Event Points value", class: "form-label" %>
    <%= form.number_field :point_val,{class: "form-control", placeholder: "Value"} %>

  </div>
  
  <div class="mb-3">

    <%= form.label "Total event hours", class: "form-label" %>
    <%= form.text_field :total_event_hr, {class: "form-control", placeholder: "Hours"} %>

  </div>

  <div class="mb-3">

    <%= form.label :graphics, class: "form-label" %>
    <%= form.text_field :graphics, {class: "form-control", placeholder: "Graphics Drive URL"} %>

  </div>

  <div class="mb-3">

    <%= form.label "Active Members Only", class: "form-check-label" %>
    <%= form.check_box :active_mem, {class: "form-check-input", id: "active"} %>

  </div>

  <%= form.hidden_field :event_creator, value: (current_user.first_name + " " + current_user.last_name)%>

  <%= link_to 'Back', events_path ,class:"btn btn-secondary text-light"%>
  <%= form.submit "Submit", class:"btn btn-secondary" %>
  
<% end %>
</div>


