<div class="container">
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tbody>

        <tr>
          <td scope="row">
            <div class="mb-3">
              <%= form.label :event_name, class: "form-label" %>
              <%= form.text_field :event_name, {class: "form-control", placeholder: "Event Name"} %>
            </div>
          </td>

          <td scope="row">
            <div class="mb-3">
              <%= form.label :description, class: "form-label" %>
              <%= form.text_field :description, {class: "form-control", placeholder: "Description"} %>
            </div>
          </td>

          <td scope="row">
            <div class="mb-3">
              <%= form.label :point_val, class: "form-label" %>
              <%= form.number_field :point_val, {class: "form-control", placeholder: "Value"} %>
            </div>
          </td>
        </tr>

        <tr>
          <td scope="row">
            <div class="mb-3">
              <%= form.label :event_type, class: "form-label" %>
              <%= form.text_field :event_type, {class: "form-control", placeholder: "Event Type"} %>
            </div>
          </td>

          <td scope="row">
            <div class="mb-3">
              <%= form.label :password, class: "form-label" %>
              <%= form.text_field :password, {class: "form-control", placeholder: "Password"} %>
            </div>
          </td>

          <td scope="row">
            <div class="mb-3">
              <%= form.label :total_event_hr, class: "form-label" %>
              <%= form.text_field :total_event_hr, {class: "form-control", placeholder: "Hours"} %>
            </div>
          </td>

        </tr>

        <tr>
          <td scope="row">
            <div class="mb-3">
              <%= form.label :start_time %>
              <div class="d-flex justify-content-start">
                <%= form.datetime_select :start_time, { ampm: true, order: [:day, :month, :year], start_year: Date.today.year }, { placeholder: "Start Time"} %>
              </div>
            </div>
          </td>

          <td scope="row">
            <div class="d-flex justify-content-start">
                <div class="mb-3 form-check align-middle">
                  <%= form.label :virtual, class: "form-label" %>
                  <%= form.select :virtual, [ ['No', false], ['Yes', true]], {class: "form-control", placeholder: "Meeting Link"} %>
                </div>

                <div class="mb-3">
                  <%= form.label :meeting_link, class: "form-label" %>
                  <%= form.text_field :meeting_link, {class: "form-control", placeholder: "Meeting Link"} %>
                </div>
            </div>
          </td>
        </tr>

        <tr>
          <td scope="row">
            <div class="mb-3">
              <%= form.label :end_time, class: "form-label" %>
              <div class="d-flex justify-content-start">
                <%= form.datetime_select :end_time, { ampm: true, order: [:day, :month, :year], start_year: Date.today.year }, {class: "form-control", placeholder: "End Time"} %>
              </div>           
            </div>
          </td>

          <td scope="row">
            <div class="mb-3">
              <%= form.label :graphics, class: "form-label" %>
              <%= form.text_field :graphics, {class: "form-control", placeholder: "Graphics"} %>
            </div>
          </td>
        </tr>

        
        
    </tbody>
  </table>

  <div class="form_input">
			<%= form.label :categories %>
			<%= form.collection_select :categories, Category.all, :id, :name,
															:include_blank => "Please select a category" %>
  </div>

  <%= form.hidden_field :event_creator, value: current_user.id%>
  <%= form.hidden_field :event_id, value: @event.id%>
  <%= form.hidden_field :created_at, value: DateTime.now%>

  <%= link_to 'Back', events_path ,class:"btn btn-secondary text-light"%>
  <%= form.submit "Submit", class:"btn btn-secondary" %>
  
<% end %>
</div>