<p id="notice"><%= notice %></p>

<% @title = "LMSA Leaderboard" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<h1 class="display-10 fw-bold text-light">Points Leaderboard</h1>
<br>
  <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
    <div class="container-fluid py-5">
    <p>Welcome to the Leaderboard, here you can compar your point earnings to everyone else.</p>
    <!-- need to add check within new of the referal controller to make sure the user only makes up to 3 friend referals-->
    <p> My Points: <%= current_user.sum_points %> </p>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>User Rank of <%=current_user.counter%> </th>
              <th>User</th>          
              <th>Points</th>
            </tr>
          </thead>
        <br>
          <tbody>
            <% @count = 0 %>
            <% User.all.sort{|a,b| b.sum_points <=> a.sum_points}.each do |that_user| %>
              <tr>
                <td><%= @count += 1 %></td>
                <td><p><%= that_user.first_name%> <%=that_user.last_name %></p></td>
                <td><%= that_user.sum_points %></td>
              </tr>
            <% end %>
          </tbody>
        <br>
    </table>

    </div> 
  </div> 
</div> 
