<%= form_with(model: @referral) do |form| %>

    <!--<div class="field">
    <%= form.label :old_member %>
    <%= form.number_field :old_member %>
  </div>-->
  <%= form.hidden_field :old_member, value: current_user.id%>

  <div class="field">
    <%= form.label :new_member %>
    <%= form.number_field :new_member %>
  </div>

  <div class="field">
    <%= form.label :guest_first_name %>
    <%= form.text_field :guest_first_name %>
  </div>

  <div class="field">
    <%= form.label :guest_last_name %>
    <%= form.text_field :guest_last_name %>
  </div>

  <div class="field">
    <%= form.label :medical_prof %>
    <%= form.select :medical_prof, [ ['Yes', true], ['No', false]] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <!--<div class="field">
    <%= form.label :date_referred %>
    <%= form.datetime_select :date_referred %>
  </div>-->
  <%= form.hidden_field :date_referred, value:  DateTime.now%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
