<%= form_with(model: @referral) do |form| %>

  <%= form.hidden_field :old_member, value: current_user.id%>

  <div class="field">
    <%= form.label :guest_first_name %>
    <%= form.text_field :guest_first_name %>
  </div>

  <div class="field">
    <%= form.label :guest_last_name %>
    <%= form.text_field :guest_last_name %>
  </div>

  <div class="field">
    <%= form.label :medical_prof %>
    <%= form.select :medical_prof, [['No', false],['Yes', true]] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <%= form.hidden_field :date_referred, value:  DateTime.now%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
