<%= form_with(model: @referral) do |form| %>

  <%= form.hidden_field :old_member, value: current_user.id%>

  <div class="field">
    <%= form.label :guest_first_name %>
    <%= form.text_field :guest_first_name %>
  </div>

  <div class="field">
    <%= form.label :guest_last_name %>
    <%= form.text_field :guest_last_name %>
  </div>

  <div class="field">
    <%= form.label :medical_prof %>
    <%= form.select :medical_prof, [['No', false],['Yes', true]] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <%= form.hidden_field :date_referred, value:  DateTime.now%>

  <div class="d-flex row">
  
    <div>
      <%if current_user.admin%>
        <%= link_to 'Back', admin_approve_path,{class: "btn btn-outline-secondary text-dark", type: "button"} %>
      <%else%>
        <%= link_to 'Back', referrals_path,{class: "btn btn-outline-secondary text-dark", type: "button"} %>
      <%end%>
    </div>
    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-outline-secondary text-dark"%>
    </div>
  </div>

  
<% end %>
