<p id="notice"><%= notice %></p>

<% @title = "LMSA Approvals" %>
<%= stylesheet_link_tag "home.css" %>

<% if !current_user.admin? %>
  <meta http-equiv="refresh" content="0; URL=<%= root_path %>" />
<%else%>
<div class="container py-4">
<h1 class="display-10 fw-bold text-light">Referral approval list</h1>
<br>
  <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
    <div class="container-fluid py-5">
    <p>This is where you can either approve all referrals that concerns a medical professional</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Old member</th>
        <th scope="col">Guest first name</th>
        <th scope="col">Guest last name</th>
        <th scope="col">Medical prof</th>
        <th scope="col">Email</th>
        <th scope="col">Date referred</th>
        <th scope="col">Admin approved</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Referral.all.each do |referral|%>
        <% if referral.medical_prof == true%>
          <tr>
            <td scope="row"><%= (User.find_by(referral.old_member)).email %></td>
            <td scope="row"><%= referral.guest_first_name %></td>
            <td scope="row"><%= referral.guest_last_name %></td>
            <td scope="row"><%= referral.medical_prof %></td>
            <td scope="row"><%= referral.email %></td>
            <td scope="row"><%= referral.date_referred %></td>
            <td scope="row"><%= referral.admin_approved %></td>
            <td scope="row"><%= link_to 'Show', referral %></td>
            <td scope="row"><%= link_to 'Edit', edit_referral_path(referral) %></td>
            <td scope="row"><%= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>

  <br>

      <!--
        Should admins be able to refer ppl? -Daniel
        <%= link_to 'New Referral', new_referral_path %>
      --> 
    </div> 
  </div> 
</div> 
<% end %>
