<p id="notice"><%= notice %></p>

<% @title = "LMSA Referrals" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<h1 class="display-10 fw-bold text-light">Referrals</h1>
<br>
  <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
    <div class="container-fluid py-5">
    <p>Welcome to the Referrals index. This page is to record when a member recruits another member. To report a referral, click on "New Referral". To see a user's details, click show, and to edit it click edit. To move around the website, click "Navigation"</p>
    <%= link_to 'New Referral', new_referral_path,{class: "btn btn-outline-secondary text-dark", type: "button"} %>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Guest first name</th>
        <th scope="col">Guest last name</th>
        <th scope="col">Medical Professional</th>
        <th scope="col">Email</th>
        <th scope="col">Date referred</th>
        <th scope="col">Admin approved</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Referral.where(old_member: current_user.id).find_each do |referral| %>
        <tr>
          <td scope="row"><%= referral.guest_first_name %></td>
          <td scope="row"><%= referral.guest_last_name %></td>
          <td scope="row"><%= referral.medical_prof %></td>
          <td scope="row"><%= referral.email %></td>
          <td scope="row"><%= referral.date_referred.strftime("%m/%d/%Y") %></td>
          <td scope="row"><%= referral.approved %></td>
          <td scope="row"><%= link_to 'More Details', referral %></td>

          <%if !referral.admin_approved?%>
            <td><%= link_to 'Edit', edit_referral_path(referral) %></td>
          <%end%>

          <td scope="row"><%= link_to 'Delete', referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    </div> 
  </div> 
</div> 

